<div class="container" style="color: yellow">
    <div class="row">
        <div class="col-6 offset-3">
            <h2>Nuevo Efectivo</h2>
            <form action="/unidadpolicial/edit?id=@Model.IdUnidad" method="post">
                
                <div class="row-mb-3">
                    <label for="Nombre">Nombre</label>
                    <input type="text" class="form-control" Name="Nombre" id="Nombre" value="@Model.Nombre"/>
                    @Html.ValidationMessage("Nombre")
                </div>
                
                <div class="row-mb-3">
                    <label for="Tipo">Tipo Unidad</label>
                    <input type="text" class="form-control" Name="Tipo" id="Tipo" value="@Model.Tipo"/>
                    @Html.ValidationMessage("Tipo")
                </div>
                
                <div class="row-mb-3">
                    <label for="Direccion">Direccion</label>
                    <input type="text" class="form-control" Name="Direccion" id="Direccion" value="@Model.Direccion"/>
                    @Html.ValidationMessage("Direccion")
                </div>
               
                <div class="row-mb-3">
                    <label for="Telefono">Telefono</label>
                    <input type="text" class="form-control" Name="Telefono" id="Telefono" value="@Model.Telefono"/>
                    @Html.ValidationMessage("Telefono")
                </div>
                                
                <div class="row-mb-3">
                    <label for="Correo">Correo</label>
                    <input type="text" class="form-control" Name="Correo" id="Correo" value="@Model.Correo"/>
                    @Html.ValidationMessage("Correo")
                </div>
                
                <br>

                <button class="btn btn-primary">Guardar</button>
                <a type="button" href="/unidadpolicial/index" class="btn btn-danger">Cancelar</a>
                
            </form>
        </div>
    </div>
</div>