<div class="container" style="background: white">
    <h1 id="UnidadesIndex">Listado de Unidades Policiales</h1>
    <br>
     @if (TempData["SuccessMessage"] != null)
     {
         <div class="alert alert-success">
             @TempData["SuccessMessage"]
         </div>
         
     }
    <a class="btn btn-primary" href="/unidadpolicial/create">Nuevo Unidad</a>
    <th>
    <table class="table">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo Unidad</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th>
            
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Tipo</td>
                <td>@item.Direccion</td>
                <td>@item.Telefono</td>
                <td>@item.Correo</td>
                <td>
                    <a type="button" href="/unidadpolicial/edit?id=@item.IdUnidad" class="btn btn-warning btn-sm">Editar</a>
                    <a type="button" href="/unidadpolicial/delete?id=@item.IdUnidad" class="btn btn-danger btn-sm">Eliminar</a>
                  
                </td>
            </tr>
        }
        </tbody>
    </table>
    </th>
    Policía Nacional del Perú - FRENPOL Cajamarca
</div>