<div class="container" style="background: white">
    <h1 id="PoliciasIndex">Listado de Efectivo Policiales</h1>
    <br>
     @if (TempData["SuccessMessage"] != null)
     {
         <div class="alert alert-success">
             @TempData["SuccessMessage"]
         </div>
         
     }
    <a class="btn btn-primary" href="/efectivopolicial/create">Nuevo Efectivo</a>

    <table class="table">
        <thead>
        <tr>
            <td>Nombre</td>
            <td>Apellidos</td>
            <td>Unidad</td>
            <td>Cip</td>
            <td>Telefono</td>
            <td>Correo</td>
            <td>
            
            </td>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Apellidos</td>
                <td>@item.UnidadId</td>
                <td>@item.Cip</td>
                <td>@item.Telefono</td>
                <td>@item.Correo</td>
                <td>
                    <a type="button" href="/efectivopolicial/edit?id=@item.Id" class="btn btn-warning btn-sm">Editar</a>
                    <a type="button" href="/efectivopolicial/delete?id=@item.Id" class="btn btn-danger btn-sm">Eliminar</a>
                  
                </td>
            </tr>
        }
        </tbody>
    </table>
    Policía Nacional del Perú - FRENPOL Cajamarca
</div>